# UE默认忽略项
Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
.sln
.suo
.opensdf
.sdf
.VC.db
.VC.opendb
.xcodeproj
.xcworkspace
.xcconfig
.DS_Store
.swp
.user
.userprefs
.log
.tlog
.pdb
.obj
.exe
.dll
.app
.dylib
.icns
.ipa
.lib
.a
.so
.apk
.xcodeproj
.xcworkspace
.xcconfig
.db
.sln.docstates
.sln.ide
.sln.iml
.sln.user
.sln.v11.suo
.sln.v12.suo
.sln.vsmdi
.suo
.user
.userosscache
.sdf
.opensdf
.VC.db
.VC.opendb
.vscode
.vs